
form {
    background-color: #eee;
    padding: 20px;
    margin: 0 auto;
    width: 50%;
    border-radius: 10px;
}

input[type="text"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
.space{
    justify-content: space-between;
    display: flex;
}
a{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover {
    background-color: #3b87eb;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

button[type="submit"]:hover {
    background-color: #3b87eb;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}

.checkboxes label {
    display: block;
    margin-bottom: 8px;
}

.checkboxes input[type="checkbox"] {
    margin-right: 8px;
}
.titleContainer{
    display: flex;
    height: 50px;
    width: auto;
    padding: 2px 2px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }