body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  background-image: url("./assets/gory.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px);
  min-height: 100vh;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  margin: auto;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li :hover {
  color: rgb(231, 203, 127);
  text-decoration: none;
}
